<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
     
          <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title id="hotel-name"></title>

        <!-- Favicon -->
        <link rel="icon" href="/wwwroot/images/favicon.png" type="image/png" />


    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/bootstrap/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/fontawesome/css/all.min.css"
    />
    
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/themify-icons/themify-icons.css"
    />
    <link rel="stylesheet" href="/wwwroot/js/vendors/linericon/style.css" />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/magnefic-popup/magnific-popup.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/owl-carousel/owl.theme.default.min.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/owl-carousel/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/nice-select/nice-select.css"
    />

    <link rel="stylesheet" href="/wwwroot/css/vendor/footer.css" />
    <link rel="stylesheet" href="/wwwroot/css/custom/style.css" />
  </head>
    <!-- ================ header section start ================= -->
    <div id="header"></div>
    <!-- ================ header section end ================= -->

    <!-- ================ start banner area ================= -->
    <section class="contact-banner-area" id="about">
      <div class="container h-100">
        <div class="contact-banner">
          <div class="text-center">
            <h1>About us</h1>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  About us
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ end banner area ================= -->

    <!-- ================ welcome section start ================= -->
    <section class="welcome pt-0 section-margin"><div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 mb-4 mb-lg-0">
          <div class="row no-gutters welcome-images">
            <div class="col-sm-7">
              <div class="card">
                <img
                  class=""
                  id="welcome-image-1"
                  alt="Card image cap"
                />
              </div>
            </div>
            <div class="col-sm-5">
              <div class="card">
                <img
                id="welcome-image-2"
                  alt="Card image cap"
                />
              </div>
            </div>
            <div class="col-lg-12">
              <div class="card">
                <img
                id="welcome-image-3"
                alt="Card image cap"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="welcome-content">
            <h2 id="welcome-title" class="mb-4">
             
            </h2>
            <p id="welcome-description"></p>
          
          </div>
        </div>
      </div>
    </div>
    </section>
    <!-- ================ welcome section end ================= -->

    <!-- ================ video section start ================= -->
    <section class="video-area">
      <div class="container">
        <div
          class="row justify-content-center align-items-center flex-column text-center"
        >
          <a
            id="play-home-video"
            class="video-play-button"
          >
            <span></span>
          </a>
          <h3 id="video-title"></h3>
          <p id="video-description"></p>
        </div>
      </div>
    </section>
    <!-- ================ video section end ================= -->

    <!-- ================ special section start ================= -->
 <section class="section-padding bg-porcelain"> 
      <div class="container">
        <div class="section-intro text-center pb-80px">
          <div class="section-intro__style">
            <svg xmlns="http://www.w3.org/2000/svg" height="70px" viewBox="0 -960 960 960" width="70px" class="icon">
              <path d="M190.77-240h-21.54L154-320h-34v-135.62q0-26.84 18.88-45.61Q157.77-520 184.62-520H200v-95.39q0-26.84 18.88-45.73Q237.77-680 264.62-680h430.76q26.85 0 45.74 18.88Q760-642.23 760-615.39V-520h15.38q26.85 0 45.74 18.88Q840-482.23 840-455.38V-320h-34l-15.23 80h-21.54L754-320H206l-15.23 80ZM500-520h220v-95.39q0-10.76-6.92-17.69-6.93-6.92-17.7-6.92H500v120Zm-260 0h220v-120H264.62q-10.77 0-17.7 6.92-6.92 6.93-6.92 17.69V-520Zm-80 160h640v-95.38q0-10.77-6.92-17.7-6.93-6.92-17.7-6.92H184.62q-10.77 0-17.7 6.92-6.92 6.93-6.92 17.7V-360Zm640 0H160h640Z" fill="currentColor"/>
            </svg>
          </div>
          <h2>Special Facilities</h2>
        </div>
        <div class="special-img mb-30px">
          <img class="img-fluid" id="facility-image" src="" alt="Facility image" />
        </div>
    
        <div class="owl-carousel owl-theme testi-carousel" id="facilitiesList">
        </div>
      </div>
    </section> 
    <!-- ================ special section end ================= -->

    <!-- ================ carousel section start ================= -->
    <section class="section-margin">
      <div class="container">
        <div class="section-intro text-center pb-20px">
          <div class="section-intro__style">
               <svg xmlns="http://www.w3.org/2000/svg" height="70px" viewBox="0 -960 960 960" width="70px" class="icon">
                <path d="M190.77-240h-21.54L154-320h-34v-135.62q0-26.84 18.88-45.61Q157.77-520 184.62-520H200v-95.39q0-26.84 18.88-45.73Q237.77-680 264.62-680h430.76q26.85 0 45.74 18.88Q760-642.23 760-615.39V-520h15.38q26.85 0 45.74 18.88Q840-482.23 840-455.38V-320h-34l-15.23 80h-21.54L754-320H206l-15.23 80ZM500-520h220v-95.39q0-10.76-6.92-17.69-6.93-6.92-17.7-6.92H500v120Zm-260 0h220v-120H264.62q-10.77 0-17.7 6.92-6.92 6.93-6.92 17.69V-520Zm-80 160h640v-95.38q0-10.77-6.92-17.7-6.93-6.92-17.7-6.92H184.62q-10.77 0-17.7 6.92-6.92 6.93-6.92 17.7V-360Zm640 0H160h640Z" fill="currentColor"/>
              </svg>
          </div>
          <h2>Our Guest Love Us</h2>
        </div>
        <div id="testimonial-container" class="owl-carousel owl-theme testi-carousel">
         
        </div>
      </div>
    </section>
    <!-- ================ carousel section end ================= -->

    <!-- ================ start footer Area ================= -->
    <div id="footer"></div>
    <!-- ================ End footer Area ================= -->

    <script src="/wwwroot/js/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="/wwwroot/js/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/wwwroot/js/vendors/magnefic-popup/jquery.magnific-popup.min.js"></script>
    <script src="/wwwroot/js/vendors/easing.min.js"></script>
    <script src="/wwwroot/js/vendors/superfish.min.js"></script>
    <script src="/wwwroot/js/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/wwwroot/js/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="/wwwroot/js/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="/wwwroot/js/vendors/mail-script.js"></script>
    <script src="/wwwroot/js/vendors/jquery.form.js"></script>
    <script src="/wwwroot/js/vendors/jquery.validate.min.js"></script>
    <script src="/wwwroot/js/custom/about.js"></script>
    <script src="/wwwroot/js/custom/main.js"></script>
  </body>
</html>