<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Seaplace Hotel - Contact</title>
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/bootstrap/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/fontawesome/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/fontawesome/css/font-awesome.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/themify-icons/themify-icons.css"
    />
    <link rel="stylesheet" href="/wwwroot/js/vendors/linericon/style.css" />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/magnefic-popup/magnific-popup.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/nice-select/nice-select.css"
    />
    <link rel="stylesheet" href="/wwwroot/css/vendor/bookings.css" />
    <link rel="stylesheet" href="/wwwroot/css/vendor/footer.css" />
    <link rel="stylesheet" href="/wwwroot/css/custom/style.css" />
  </head>
  <body>
    <!-- ================ header section start ================= -->
    <div id="header"></div>
    <!-- ================ header section end ================= -->

    <!-- ================ start banner area ================= -->
    <section class="contact-banner-area" id="contact">
      <div class="container h-100">
        <div class="contact-banner">
          <div class="text-center">
            <h1>Bookings</h1>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Bookings
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ end banner area ================= -->

    <!-- ================ start banner form ================= -->
    <div id="availability"></div>
    <!-- ================ end banner form ================= -->

    <!-- ================ Explore section start ================= -->
    <section class=" ">
      <div class="container">
        <!-- <div class="section-intro text-center pb-80px">
          <div class="section-intro__style">
            <img src="/wwwroot/images/home/bed-icon.png" alt="" />
          </div>
          <h2>Bookings</h2>
        </div> -->
     


        <div class="room-container">
          <div class="details-container">
            <div class="image-container">
              <div class="side-images">
                <img src="/wwwroot/images/gallery/g1.png" alt="img-1" class="thumbnail">
                <img src="/wwwroot/images/gallery/g2.png" alt="img-1" class="thumbnail">
                <img src="/wwwroot/images/gallery/g3.png" alt="img-1" class="thumbnail">
                <img src="/wwwroot/images/gallery/g4.png" alt="img-1" class="thumbnail">
              </div>
              <div class="main-images"><img src="/wwwroot/images/rooms/room-details.jpg" alt="room-image" id="main-image"></div>
            </div>
          
            <div class="details">
              <div class="room-title">
                <h4>Presidential</h4>
                <span>2 Rooms Available</span>
              </div>
          
              
              
          <div class="detail-explore__price">
            <h3>
                $190.00 <sub>/ Per Night</sub>
            </h3>
              <div class="star-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
          </div>
              
          
              <div class="room-accommodates">
                <div>This room accommodates</div>
                <div>
                  <div class="room__info">
                    <span>Adults</span>
                    <div class="detail"><i class="fa fa-users"></i>  <div>2</div></div>
                  </div>
                  <div class="room__info">
                    <span>Children</span>
                    <div class="detail"><i class="fa fa-users"></i> <div>2</div></div>
                  </div>
                </div>
              </div>
          
              <label class="room__number" for="">Number of Rooms</label>
              <select name="" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
          
              <a href="/view/check-guest.html" class="button button-bookings" type="submit">Continue</a>
            </div>
          </div>
        </div>





        <div class="room-container">
          <div class="details-container">
            <div class="image-container">
              <div class="side-images">
                <img src="/wwwroot/images/gallery/g1.png" alt="img-1" class="thumbnail">
                <img src="/wwwroot/images/gallery/g2.png" alt="img-1" class="thumbnail">
                <img src="/wwwroot/images/gallery/g3.png" alt="img-1" class="thumbnail">
                <img src="/wwwroot/images/gallery/g4.png" alt="img-1" class="thumbnail">
              </div>
              <div class="main-images"><img src="/wwwroot/images/rooms/room-details.jpg" alt="room-image" id="main-image"></div>
            </div>
          
            <div class="details">
              <div class="room-title">
                <h4>Presidential</h4>
                <span>2 Rooms Available</span>
              </div>
          
              
              
          <div class="detail-explore__price">
            <h3>
                $190.00 <sub>/ Per Night</sub>
            </h3>
              <div class="star-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
          </div>
              
          
              <div class="room-accommodates">
                <div>This room accommodates</div>
                <div>
                  <div class="room__info">
                    <span>Adults</span>
                    <div class="detail"><i class="fa fa-users"></i>  <div>2</div></div>
                  </div>
                  <div class="room__info">
                    <span>Children</span>
                    <div class="detail"><i class="fa fa-users"></i> <div>2</div></div>
                  </div>
                </div>
              </div>
          
              <label class="room__number" for="">Number of Rooms</label>
              <select name="" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
          
              <a href="/view/check-guest.html" class="button button-bookings" type="submit">Continue</a>
            </div>
          </div>
        </div>
      

        </div>
      </div>

      </div>
    </section>
    

    <!-- ================ start footer Area ================= -->
    <div id="footer"></div>
    <!-- ================ End footer Area ================= -->

    <script src="/wwwroot/js/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="/wwwroot/js/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/wwwroot/js/vendors/magnefic-popup/jquery.magnific-popup.min.js"></script>
    <script src="/wwwroot/js/vendors/easing.min.js"></script>
    <script src="/wwwroot/js/vendors/superfish.min.js"></script>
    <script src="/wwwroot/js/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="/wwwroot/js/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="/wwwroot/js/vendors/mail-script.js"></script>
    <script src="/wwwroot/js/vendors/jquery.form.js"></script>
    <script src="/wwwroot/js/vendors/jquery.validate.min.js"></script>
    <!-- <script src="/wwwroot/js/custom/bookings.js"></script> -->
    <script src="/wwwroot/js/custom/main.js"></script>
  </body>
</html>
