<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Seaplace Hotel - Contact</title>

    <!-- Favicon -->
    <link rel="icon" href="img/favicon.png" type="image/png" />

    <!-- FontAwesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Stylesheets -->
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/bootstrap/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/fontawesome/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/fontawesome/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/themify-icons/themify-icons.css"
    />
    <link rel="stylesheet" href="/wwwroot/js/vendors/linericon/style.css" />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/magnefic-popup/magnific-popup.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/nice-select/nice-select.css"
    />
    <link rel="stylesheet" href="/wwwroot/css/vendor/footer.css" />
    <link rel="stylesheet" href="/wwwroot/css/custom/style.css" />
    <link rel="stylesheet" href="/wwwroot/css/vendor/check-guest.css" />
  </head>

  <body>
    <!-- Header Section -->
    <div id="header"></div>

    <!-- Banner Section -->
    <section class="contact-banner-area" id="contact">
      <div class="container h-100">
        <div class="contact-banner text-center">
          <h1>Bookings</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/index.html">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Bookings
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </section>

    <!-- Booking Details Section -->
    <section class="section-margin section-margin--small">
      <div class="container">
        <div class="navigation">
          <a href="javascript:history.back()" class="back">
            <i class="fa fa-arrow-left"></i>
            <span>Guest form</span>
          </a>
          <span class="reserve">/Preview</span>
        </div>

        <!-- Title -->
        <div class="check-guest__title">
          <h3>Your Booking</h3>
        </div>
        <!-- Booking Container -->
       <div id="reservation"></div>



       
        <div class="check-guest__title__contact">
          <h3>Personal Details</h3>
        </div>

        <div class="check-guest__container">
          <!-- Dates -->
          <div class="check-guest__container__sub">
            <div class="check-guest__container__sub">
              <div class="check-guest__container__sub-info">
                <div>Title</div>
                <div id="preview-guest-title"></div>
              </div>
              <div class="check-guest__container__sub-info">
                <div >First Name</div>
                <div id="preview-guest-first-name"></div>
              </div>

              <div class="check-guest__container__sub-total">
                <div>Last Name</div>
                <div id="preview-guest-last-name"></div>
              </div>
            </div>
          </div>

          <!-- Room Details -->
          <div class="check-guest__container__sub">
            <div class="check-guest__container__sub">
              <div class="check-guest__container__sub-info">
                <div>Sex</div>
                <div id="guest-preview-gender"></div>
              </div>
              <div class="check-guest__container__sub-info">
                <div>Date of Birth</div>
                <div id="guest-preview-date-of-birth"></div>
              </div>
              <div class="check-guest__container__sub-total">
                <div>Occupation</div>
                <div id="guest-preview-occupation"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="check-guest__title__contact">
          <h3>Booking Details</h3>
        </div>

        <div class="check-guest__container">
          <!-- Dates -->
          <div class="check-guest__container__sub">
            <div class="check-guest__container__sub-info">
              <div>Arrival Time:</div>
              <div id="guest-preview-arrival-time"></div>
            </div>
            <div class="check-guest__container__sub-info">
              <div>Purpose:</div>
              <div id="guest-preview-purpose"></div>
            </div>
          </div>

          <!-- Room Details -->
          <div class="check-guest__container__sub">
            <div class="check-guest__container__sub">
              <div class="check-guest__container__sub-total">
                <div>Additional Requirements:</div>
                <div id="guest-preview-additional-info"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="check-guest__title__contact">
          <h3>Contact Address</h3>
        </div>

        <div class="check-guest__container">
          <!-- Dates -->
          <div class="check-guest__container__sub">
            <div class="check-guest__container__sub">
              <div class="check-guest__container__sub-info">
                <div>Phone:</div>
                <div id="guest-preview-phone"></div>
              </div>
              <div class="check-guest__container__sub-info">
                <div>Email:</div>
                <div id="guest-preview-email"></div>
              </div>

              <div class="check-guest__container__sub-total">
                <div>Address Line 1:</div>
                <div id="guest-preview-address1"></div>
              </div>
            </div>
          </div>

          <!-- Room Details -->
          <div class="check-guest__container__sub">
            <div class="check-guest__container__sub">
              <div class="check-guest__container__sub-info">
                <div>Address Line 2:</div>
                <div id="guest-preview-address2"></div>
              </div>
              <div class="check-guest__container__sub-info">
                <div>State</div>
                <div id="guest-preview-state"></div>
              </div>
              <div class="check-guest__container__sub-total">
                <div>Country</div>
                <div id="guest-preview-country"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="guest-button__container">
          <a href="/view/payment.html" class="button button-contact"
            >Continue</a
          >
        </div>
      </div>
    </section>

    <!-- Footer Section -->
    <div id="footer"></div>

    <!-- Scripts -->
    <script src="/wwwroot/js/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="/wwwroot/js/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/wwwroot/js/vendors/magnefic-popup/jquery.magnific-popup.min.js"></script>
    <script src="/wwwroot/js/vendors/easing.min.js"></script>
    <script src="/wwwroot/js/vendors/superfish.min.js"></script>
    <script src="/wwwroot/js/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="/wwwroot/js/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="/wwwroot/js/vendors/mail-script.js"></script>
    <script src="/wwwroot/js/vendors/jquery.form.js"></script>
    <script src="/wwwroot/js/vendors/jquery.validate.min.js"></script>
    <script src="/wwwroot/js/custom/booking-preview.js"></script>
    <script src="/wwwroot/js/custom/main.js"></script>
  </body>
</html>
