<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title id="hotel-name"></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

    <!-- Favicon -->
    <link rel="icon" href="/wwwroot/images/favicon.png" type="image/png" />

    <!-- FontAwesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Stylesheets -->
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/bootstrap/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/fontawesome/css/all.min.css"
    />
   
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/themify-icons/themify-icons.css"
    />
    <link rel="stylesheet" href="/wwwroot/js/vendors/linericon/style.css" />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/magnefic-popup/magnific-popup.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/nice-select/nice-select.css"
    />
     <link rel="stylesheet" href="/wwwroot/css/vendor/room-details.css" />
    <link rel="stylesheet" href="/wwwroot/css/vendor/footer.css" />
    <link rel="stylesheet" href="/wwwroot/css/custom/style.css" />
    <link rel="stylesheet" href="/wwwroot/css/vendor/check-guest.css" />
  </head>

  <body>
    <!-- Header Section -->
    <div id="header"></div>

    <!-- Banner Section -->
    <section class="contact-banner-area" id="contact">
      <div class="container h-100">
        <div class="contact-banner">
          <div class="text-center">
            <h1>Cancel Bookings</h1>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Cancel Booking
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>



       

    <!-- Success Message Section -->
    <section class="section-margin section-margin--small">

        <div class="section-intro text-center pb-80px">
            <div class="section-intro__style">
              <i class="text-danger fas fa-times-circle custom-icon" style="width: 70px; height: 70px;  font-size: 70px;"></i>

            </div>
            <h2>Cancel Booking</h2>
          </div>


          <div style="font-family: var(--body-font-family);" class="container">
              <div class="row justify-content-center">
                <div class="col-lg-6">
<div class="card mb-4" style="width: 100%;">
  <img class="card-img-top" style="height: 380px;" src="/wwwroot/images/home/explore1.png" alt="Card image cap">
  <div class="card-body pr-0">
  <div class="room-info pr-4">
    <h5>Deluxe Suite</h5>
  <div id="rating-2" class="star-rating"></div>
  </div>
  <div class="card-body-info">
    <span>Room Capacity</span>
    <p>2 Adults, 2 Children</p>
  </div>
  <div>
   <div class="card-body-info">
    <span>
    Contact info:
   </span>

   <div class="details"><a href="tel:1234567890" target="_blank">+1234567890</a>


<a href="info@seapalace.com" target="_blank">info@seapalace.com</a></div>

</div>
   
  </div>
  </div>

  <div class="card-footer ">
  <div>
    <span>
    Check in
  </span>
  <div class="info">
Thu, 23rd Jan 2025
  </div>
  <span>
   (after 3:00 PM)
  </span>
</div>
  <div class="num-nights"><i class="fas fa-cloud-moon"></i>2 nights</div>
   <div>
    <span>
    Check out
  </span>
  <div class="info">
Sat, 25th Jan 2025
  </div>
  <span>
    ( before 12:00 PM )
  </span>
</div>
</div>
</div>

<div class="card">
<div class="card-body policy">
  <div>Cancellation Policy</div>
  <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur scelerisque odio eget ipsum aliquet interdum... <a href="#" id="terms-of-use-link">Read Policy</a> 
</span>
</div>
</div>


<div class="card">
<div class="card-body payment">
  <div>Payment Information</div>
  <div class="payment-info">
    <span>1 room(s) X 2 night(s)</span>
  
  <div>₦ 43,000</div>
</div>
 
</div>
<div class="card-footer payment">
   <div class="charge mt-0">
    <div>Total Charge</div>
  
  <div>₦ 43,000</div>
</div>
</div>
</div>
</div>

                <div class="col-lg-5 mt-4 mt-md-0">
                  <div class="card ">
                    <div style="background-color: #cca772; color: white;" class="card-header ">
                     <h5>Book on Hold</h5>
                    </div>

                    <div class="card-body pr-0">
                      <div class="card-body-info">
                        <span>Booking Ref:</span>
                        <div>8WSD6J</div>
                      </div>

                      <div class="card-body-info">
                        <span>Guest Name:</span>
                        <div>Joshua Adebayo</div>
                      </div>


                       <div class="card-body-info">
                        <span>Room Type:</span>
                        <div>Presidential Suite</div>
                      </div>


                       <div class="card-body-info">
                        <span>Check in:</span>
                        <div>Thursday, 23rd January 2024</div>
                      </div>

                        <div class="card-body-info">
                        <span>Check out:</span>
                        <div>Saturday, 25th January 2024</div>
                      </div>

                    
                    </div>


                    <div class="card-footer">
                      <div class="card-footer-info"> 
                        <button class=" btn-danger button-contact">
                        Cancel Booking
                      </button>
                    </div>
                     
                    </div>
                  </div>
                </div>
               </div>
          </div>

    </section>





     <div id="terms-modal" class="modal">
      <div class="modal-content">

        <div class="modal-head">
          <h4>Cancellation Policy</h4>
          <span class="modal-close">&times;</span>
        </div>
    
        
        <div id="terms-text" class="modal-body">
        </div>
    
      </div>
    </div>




    <!-- </section>

    <section class="section-margin section-margin--small">
        <div class="section-intro text-center pb-80px">
          <div class="section-intro__style">
    <i class="fas fa-times-circle custom-icon" style="width: 70px; height: 70px; color: red; font-size: 70px;"></i>


          </div>
          <h2>Cancel Bookings</h2>
        </div>
      <div class="container">
        <div>
            <div>
               <div class="check-guest__title"><h3>Current Bookings</h3>
              </div>
              
              <div class="manage-main__container">

                    <div class="manage-booking__container row"> 
                        <div class="details col-12 col-md-8">
                            <img src="/wwwroot/images/rooms/room-details.jpg" alt="">
                      
                                <div class="info">
                                    <div > <i class="fas fa-door-open"></i><h6>Presidential</h6></div>

                                    <div><i class="far fa-calendar-alt"></i><span>2025-01-12    To    2025-01-14  (2Night(s))</span></div>

                                    <div class="num-guest"><div><i class="fa fa-user"></i><span>2 Adults</span></div>
                                    <div><i class="fa fa-child"></i><span>2 Children</span></div>
                                    </div>
                                   
                                </div>


                        </div>

                        <div class="action col-12 col-md-4">
                            <div class="ref">Booking Ref: 8SDWD4</div>
                            <a class="card-explore__link" href="/view/manage-details.html">Manage Booking <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                   
                </div>


                
            </div>
            <div>
              <div class="check-guest__title__contact"><h3>Contact Information</h3>
            </div>
              
             


 <div class="manage-main__container contact-table p-1 p-md-4 d-none d-md-block">
                        <table class="table table-responsive mb-3 d-table contact-table-wrapper">
                            <thead>
                            <tr>
                                <th>
                                    <span class="contact-caption">Person</span>
                                </th>
                                <th><span class="contact-caption">E-mail</span></th>
                                <th><span class="contact-caption">Phone Number</span></th>
                                <th><span class="contact-caption">&nbsp;</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            
                                <tr>
                                    <td>
                                        <span class="text-capitalize contact-info">Joshua  Adebayo </span>
                                    </td>
                                    <td><span class="contact-info contact-email">joshuaadebayo@gmail.com</span></td>
                                    <td>
                                        <span class="contact-info js-contact-phone-number">+234 (803) 590 5619</span>
                                    </td>
                                    
                                        <td>
                                            <form class="change-contact-form"><input type="hidden" name="_sid" value="1917736a-b9ea-48ad-8dbc-c0f7e5fc2f15"><input type="hidden" name="_cid" value="1dea7e62-c9f3-4a80-b363-de8dde33cce7">
                                                <a  class="contact-details" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                  <i class="fas fa-edit"></i>
                                                    <span class="align-middle change-contact">Change Contact</span>
                                                </a>
                                            </form>
                                        </td>
                                    
                                </tr>
                            
                            </tbody>
                        </table>
                        
                    </div>
                    
                   
             <div class="manage-main__container contact-table p-1 p-md-3 d-md-none">
                        <table class="table d-table mb-3">
                            
                                <thead>
                                <tr>
                                    <th class="rounded p-3" colspan="2">
                                        <form action=""><input type="hidden" name="_sid" value="bc73f400-cd2d-44b7-b049-a5890b75e61a"><input type="hidden" name="_cid" value="96975776-9acd-4317-a527-8e7438ef43bb">
                                            <div class="row">
                                                <div class="col-6 contact-name-block">
                                                    <i data-val="0" data-pathbinder="/ibe/" data-toggle="modal" data-target="#mobile-modal-contact-person" class="contact-name align-middle d-md-none editContactMobil">Joshua  Adebayo </i>
                                                </div>
                                                
                                                    <div class="col-6 contact-right-block editContactMobil" data-val="0" data-pathbinder="/ibe/" data-toggle="modal" data-target="#mobile-modal-contact-person">
                                                         <i class="fas fa-edit"></i>
                                                        <span class="align-middle change-contact">Change Contact</span>
                                                    </div>
                                                
                                            </div>
                                        </form>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><span class="contact-caption">E-mail</span></td>
                                    <td class="pl-1 pr-1 text-center"><span class="contact-info">joshuaadebayo@gmail.com</span></td>
                                </tr>
                                <tr>
                                    <td><span class="contact-caption">Phone Number</span></td>
                                    <td class="pl-1 pr-1 text-center"><span class="contact-info js-contact-phone-number" data-country-code="+234" data-area-code="803" data-country-number="5905619">+234 (803) 590 5619</span></td>
                                </tr>
                                </tbody>
                            
                        </table>
                        
                    </div>

            </div>

      <div class="modal fade modal-dialog modal-dialog-centered" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

          <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>

</div>
    </section> -->


    <!-- Footer Section -->
    <div id="footer"></div>

    <!-- Scripts -->
    <script src="/wwwroot/js/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="/wwwroot/js/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/wwwroot/js/vendors/magnefic-popup/jquery.magnific-popup.min.js"></script>
    <script src="/wwwroot/js/vendors/easing.min.js"></script>
    <script src="/wwwroot/js/vendors/superfish.min.js"></script>
    <script src="/wwwroot/js/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="/wwwroot/js/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="/wwwroot/js/vendors/mail-script.js"></script>
    <script src="/wwwroot/js/vendors/jquery.form.js"></script>
    <script src="/wwwroot/js/vendors/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
 
    <script src="/wwwroot/js/custom/main.js"></script>
    <script src="/wwwroot/js/custom/cancel-booking.js"></script>
  </body>
</html>
