<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Seaplace Hotel - Contact</title>

    <!-- Favicon -->
    <link rel="icon" href="img/favicon.png" type="image/png" />

    <!-- FontAwesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Stylesheets -->
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/bootstrap/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/fontawesome/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/fontawesome/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/themify-icons/themify-icons.css"
    />
    <link rel="stylesheet" href="/wwwroot/js/vendors/linericon/style.css" />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/magnefic-popup/magnific-popup.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/nice-select/nice-select.css"
    />
    <link rel="stylesheet" href="/wwwroot/css/vendor/footer.css" />
    <link rel="stylesheet" href="/wwwroot/css/custom/style.css" />
    <link rel="stylesheet" href="/wwwroot/css/vendor/check-guest.css" />
  </head>

  <body>
    <!-- Header Section -->
    <div id="header"></div>

    <!-- Banner Section -->
    <section class="contact-banner-area" id="contact">
      <div class="container h-100">
        <div class="contact-banner text-center">
          <h1>Bookings</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/index.html">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Bookings
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </section>

    <!-- Booking Details Section -->
    <section class="section-margin section-margin--small">
      <div class="container">
        <!-- Title -->

        <div class="navigation">
          <a href="javascript:history.back()" class="back">
            <i class="fa fa-arrow-left"></i> <span>Booking/</span>
          </a>
          <span class="reserve">Reservation</span>
        </div>

        <div class="check-guest__title">
          <h3>Your Booking</h3>
        </div>
        <!-- Booking Container -->
        <div class="check-guest__container">
          <!-- Dates -->
          <div class="check-guest__container__sub">
            <div class="check-guest__date">
              <button class="button button-contact">Change dates</button>
            </div>
            <div class="check-guest__container__sub">
              <div class="check-guest__container__sub-info">
                <div>Check-in Date</div>
                <div>10-12-2024</div>
              </div>
              <div class="check-guest__container__sub-info">
                <div>Check-out Date</div>
                <div>12-12-2024</div>
              </div>
            </div>
          </div>

          <!-- Room Details -->
          <div class="check-guest__container__sub">
            <div class="check-guest__date">
              <button class="button button-contact">Change Rooms</button>
            </div>
            <div class="check-guest__container__sub">
              <div class="check-guest__container__sub-info">
                <div>Room Type</div>
                <div>Presidential</div>
              </div>
              <div class="check-guest__container__sub-info">
                <div>For</div>
                <div>1 Room 1 night</div>
              </div>
              <div class="check-guest__container__sub-total">
                <div>Total</div>
                <div>$935.00</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Contact Details -->
        <div class="check-guest__title__contact">
          <h3>Contact Details</h3>
        </div>

        <div class="check-guest__contact">
          <div class="guest__label__container">
            <label for="email">Email Address <span>*</span></label>
          </div>

          <div>
            <input type="email" class="form-control" id="email" name="email" />
          </div>

          <div class="guest-button__container">
            <a href="/view/guest-form.html" class="button button-contact"
              >Continue</a
            >
          </div>
        </div>
      </div>
    </section>

    <!-- Footer Section -->
    <div id="footer"></div>

    <!-- Scripts -->
    <script src="/wwwroot/js/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="/wwwroot/js/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/wwwroot/js/vendors/magnefic-popup/jquery.magnific-popup.min.js"></script>
    <script src="/wwwroot/js/vendors/easing.min.js"></script>
    <script src="/wwwroot/js/vendors/superfish.min.js"></script>
    <script src="/wwwroot/js/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="/wwwroot/js/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="/wwwroot/js/vendors/mail-script.js"></script>
    <script src="/wwwroot/js/vendors/jquery.form.js"></script>
    <script src="/wwwroot/js/vendors/jquery.validate.min.js"></script>
    <script src="/wwwroot/js/custom/rooms.js"></script>
    <script src="/wwwroot/js/custom/main.js"></script>
  </body>
</html>
