<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Seaplace Hotel - Contact</title>
    <link rel="icon" href="/wwwroot//images/favicon.png" type="image/png" />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/bootstrap/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/fontawesome/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/fontawesome/css/font-awesome.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/themify-icons/themify-icons.css"
    />
    <link rel="stylesheet" href="/wwwroot/js/vendors/linericon/style.css" />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/magnefic-popup/magnific-popup.css"
    />

    
    <link rel="stylesheet" href="/wwwroot/css/vendor/footer.css" />
    <link rel="stylesheet" href="/wwwroot/css/custom/style.css" />
  </head>
  <body>
    <!-- ================ header section start ================= -->
    <div id="header"></div>
    <!-- ================ header section end ================= -->

    <!-- ================ start banner area ================= -->
    <section class="contact-banner-area" id="contact">
      <div class="container h-100">
        <div class="contact-banner">
          <div class="text-center">
            <h1>Contact Us</h1>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Contact Us
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ end banner area ================= -->

    <section class="section-margin">
      <div class="container">
        <!-- google map start -->
        <div class="d-none d-sm-block mb-5 pb-4">
          <div id="map" style="height: 420px"></div>
          <script>
            function initMap() {
              var uluru = { lat: -25.363, lng: 131.044 };
              var grayStyles = [
                {
                  featureType: "all",
                  stylers: [{ saturation: -90 }, { lightness: 50 }],
                },
                {
                  elementType: "labels.text.fill",
                  stylers: [{ color: "#A3A3A3" }],
                },
              ];
              var map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: -31.197, lng: 150.744 },
                zoom: 9,
                styles: grayStyles,
                scrollwheel: false,
              });
            }
          </script>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&callback=initMap"></script>
        </div>
        <!-- google map end -->

        <div class="row">
          <div class="col-md-4 col-lg-3 mb-4 mb-md-0">
            <div class="media contact-info">
              <span class="contact-info__icon"><i class="ti-home"></i></span>
              <div class="media-body">
                <h3><span id="state"></span>, <span id="country"></span> </h3>
                <p id="address"></p>
              </div>
            </div>
            <div class="media contact-info">
              <span class="contact-info__icon"><i class="ti-home"></i></span>
              <div class="media-body">
                <h3> <a id="phone-number-link" href="">+<span id="phone-number"></span></a></h3>
                <p id="operating-time"></p>
              </div>
            </div>
            <div class="media contact-info">
              <span class="contact-info__icon"><i class="ti-email"></i></span>
              <div class="media-body">
                <h3>
                  <a id="email-address-link" href=""><span id="email-address"></span></a>
                </h3>
                <p>Send us your message anytime!</p>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-9">
            <form
              class="row contact_form"
              action="contact_process.php"
              method="post"
              id="contactForm"
              novalidate="novalidate"
            >
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Enter your name"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter email address"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="subject"
                    name="subject"
                    placeholder="Enter Subject"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea
                    class="form-control different-control"
                    name="message"
                    id="message"
                    rows="5"
                    placeholder="Enter Message"
                  ></textarea>
                </div>
              </div>
              <div class="col-md-12 text-right">
                <button type="submit" value="submit" class="button-contact">
                  <span>Send Message</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- ================ start footer Area ================= -->
    <div id="footer"></div>
    <!-- ================ End footer Area ================= -->

    <script src="/wwwroot/js/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="/wwwroot/js/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/wwwroot/js/vendors/magnefic-popup/jquery.magnific-popup.min.js"></script>
    <script src="/wwwroot/js/vendors/easing.min.js"></script>
    <script src="/wwwroot/js/vendors/superfish.min.js"></script>
    <script src="/wwwroot/js/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="/wwwroot/js/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="/wwwroot/js/vendors/mail-script.js"></script>
    <script src="/wwwroot/js/vendors/jquery.form.js"></script>
    <script src="/wwwroot/js/vendors/jquery.validate.min.js"></script>
    <script src="/wwwroot/js/custom/contact.js"></script>
    <script src="/wwwroot/js/custom/main.js"></script>
  </body>
</html>
