<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>Seaplace Hotel - Contact</title>
		  <link rel="icon" href="img/favicon.png" type="image/png">
		<link rel="stylesheet" href="/wwwroot/js/vendors/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="/wwwroot/js/vendors/fontawesome/css/all.min.css">
		<link rel="stylesheet" href="/wwwroot/js/vendors/fontawesome/css/font-awesome.min.css" type="text/css">
		  <link rel="stylesheet" href="/wwwroot/js/vendors/themify-icons/themify-icons.css">
		  <link rel="stylesheet" href="/wwwroot/js/vendors/linericon/style.css">
		<link rel="stylesheet" href="/wwwroot/js/vendors/magnefic-popup/magnific-popup.css">
	  
		<link rel="stylesheet" href="/wwwroot/css/style.css">
	  </head>
<body>
	<!-- ================ header section start ================= -->	
	<div id="header"></div>
	<!-- ================ header section end ================= -->	
  
  <!-- ================ start banner area ================= -->	
	<section class="contact-banner-area" id="gallery">
		<div class="container h-100">
			<div class="contact-banner">
				<div class="text-center">
					<h1>Gallery</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Gallery</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
  <!-- ================ end banner area ================= -->
	
  <!-- ================ start gallery section ================= -->	
	<section class="section-margin">
    <div class="container">
      <div class="section-intro text-center pb-80px">
        <div class="section-intro__style">
          <img src="/wwwroot/images/home/bed-icon.png" alt="">
        </div>
        <h2>Our Gallery</h2>
			</div>

			<div class="row">
				<div class="col-md-5">
					<div class="row">
						<div class="col-12 mb-4">
							<a href="/wwwroot/images/gallery/g1.png" class="img-gal card-img">
								<div class="single-imgs relative">		
									<div class="overlay overlay-bg"></div>
									<div class="relative">				
										<img class="card-img rounded-0" src="/wwwroot/images/gallery/g1.png" alt="">		
									</div>
								</div>
							</a>
						</div>
						<div class="col-12 mb-4">
							<a href="/wwwroot/images/gallery/g2.png" class="img-gal card-img">
								<div class="single-imgs relative">		
									<div class="overlay overlay-bg"></div>
									<div class="relative">				
										<img class="card-img rounded-0" src="/wwwroot/images/gallery/g2.png" alt="">		
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>

				<div class="col-md-7">
					<div class="row">
						<div class="col-sm-7 mb-4">
							<a href="/wwwroot/images/gallery/g3.png" class="img-gal card-img">
								<div class="single-imgs relative">		
									<div class="overlay overlay-bg"></div>
									<div class="relative">				
										<img class="card-img rounded-0" src="/wwwroot/images/gallery/g3.png" alt="">		
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-5 mb-4">
							<a href="/wwwroot/images/gallery/g4.png" class="img-gal card-img">
								<div class="single-imgs relative">		
									<div class="overlay overlay-bg"></div>
									<div class="relative">				
										<img class="card-img rounded-0" src="/wwwroot/images/gallery/g4.png" alt="">		
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-12 mb-4">
							<a href="/wwwroot/images/gallery/g5.png" class="img-gal card-img">
								<div class="single-imgs relative">		
									<div class="overlay overlay-bg"></div>
									<div class="relative">				
										<img class="card-img rounded-0" src="/wwwroot/images/gallery/g5.png" alt="">		
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-7 mb-4">
							<a href="/wwwroot/images/gallery/g6.png" class="img-gal card-img">
								<div class="single-imgs relative">		
									<div class="overlay overlay-bg"></div>
									<div class="relative">				
										<img class="card-img rounded-0" src="/wwwroot/images/gallery/g6.png" alt="">		
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-5 mb-4">
							<a href="/wwwroot/images/gallery/g7.png" class="img-gal card-img">
								<div class="single-imgs relative">		
									<div class="overlay overlay-bg"></div>
									<div class="relative">				
										<img class="card-img rounded-0" src="/wwwroot/images/gallery/g7.png" alt="">		
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
  <!-- ================ end gallery section ================= -->	
  





  <!-- ================ start footer Area ================= -->
  <div id="footer"></div>
  <!-- ================ End footer Area ================= -->



  

  <script src="/wwwroot/js/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="/wwwroot/js/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="/wwwroot/js/vendors/magnefic-popup/jquery.magnific-popup.min.js"></script>
	<script src="/wwwroot/js/vendors/easing.min.js"></script>
  <script src="/wwwroot/js/vendors/superfish.min.js"></script>
  <script src="/wwwroot/js/vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="/wwwroot/js/vendors/jquery.ajaxchimp.min.js"></script>
  <script src="/wwwroot/js/vendors/mail-script.js"></script>
  <script src="/wwwroot/js/vendors/jquery.form.js"></script>
  <script src="/wwwroot/js/vendors/jquery.validate.min.js"></script>
  <script src="/wwwroot/js/custom/contact.js"></script>
  <script src="/wwwroot/js/custom/main.js"></script>
</body>
</html>