<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Seaplace Hotel - Contact</title>

    <!-- Favicon -->
    <link rel="icon" href="img/favicon.png" type="image/png" />

    <!-- FontAwesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Stylesheets -->
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/bootstrap/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/fontawesome/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/fontawesome/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/themify-icons/themify-icons.css"
    />
    <link rel="stylesheet" href="/wwwroot/js/vendors/linericon/style.css" />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/magnefic-popup/magnific-popup.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/nice-select/nice-select.css"
    />
    <link rel="stylesheet" href="/wwwroot/css/vendor/footer.css" />
    <link rel="stylesheet" href="/wwwroot/css/custom/style.css" />
    <link rel="stylesheet" href="/wwwroot/css/vendor/check-guest.css" />
  </head>

  <body>
    <!-- Header Section -->
    <div id="header"></div>

    <!-- Banner Section -->
    <section class="contact-banner-area" id="contact">
      <div class="container h-100">
        <div class="contact-banner text-center">
          <h1>Bookings</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/index.html">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Bookings
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </section>

    <!-- Booking Details Section -->
    <section class="section-margin section-margin--small">
      <div class="container">
        <!-- Title -->
        <div class="check-guest__title">
          <div class="navigation">
            <a href="javascript:history.back()" class="back">
              <i class="fa fa-arrow-left"></i> <span>Booking/</span
              ><span>Reservation/</span>
            </a>
            <span class="reserve">Guest</span>
          </div>

          <h3>Your Booking</h3>
        </div>
        <!-- Booking Container -->
        <div class="check-guest__container">
          <!-- Dates -->
          <div class="check-guest__container__sub">
            <div class="check-guest__date">
              <button class="button button-contact">Change dates</button>
            </div>
            <div class="check-guest__container__sub">
              <div class="check-guest__container__sub-info">
                <div>Check-in Date</div>
                <div>10-12-2024</div>
              </div>
              <div class="check-guest__container__sub-info">
                <div>Check-out Date</div>
                <div>12-12-2024</div>
              </div>
            </div>
          </div>

          <!-- Room Details -->
          <div class="check-guest__container__sub">
            <div class="check-guest__date">
              <button class="button button-contact">Change Rooms</button>
            </div>
            <div class="check-guest__container__sub">
              <div class="check-guest__container__sub-info">
                <div>Room Type</div>
                <div>Presidential</div>
              </div>
              <div class="check-guest__container__sub-info">
                <div>For</div>
                <div>1 Room 1 night</div>
              </div>
              <div class="check-guest__container__sub-total">
                <div>Total</div>
                <div>$935.00</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Personal Details -->
        <div class="check-guest__title__contact">
          <h3>Personal Details</h3>
        </div>

        <div class="check-guest__contact container">
          <div class="row">
            <div class="col-12 col-md-4">
              <label for="title">Title<span>*</span></label>
            </div>
            <div class="col-12 col-md-4 mb-3 form-group">
              <select class="form-control" name="title" id="title">
                <option value="Mr">Mr</option>
                <option value="Mrs">Mrs</option>
                <option value="Miss">Miss</option>
              </select>
            </div>
            <div class="col-12 col-md-4"></div>

            <div class="col-12 col-md-4">
              <label for="firstname">First Name<span>*</span></label>
            </div>
            <div class="col-12 col-md-4 mb-3 form-group">
              <input
                type="text"
                class="form-control"
                id="firstname"
                name="firstname"
              />
            </div>

            <div class="col-12 col-md-4"></div>

            <div class="col-12 col-md-4">
              <label for="lastname">Last Name<span>*</span></label>
            </div>
            <div class="col-12 col-md-4 mb-3 form-group">
              <input
                type="text"
                class="form-control"
                id="lastname"
                name="lastname"
              />
            </div>
            <div class="col-12 col-md-4"></div>

            <div class="col-12 col-md-4">
              <label for="sex">Sex<span>*</span></label>
            </div>
            <div class="col-12 col-md-4 mb-3">
              <select class="form-control" name="sex" id="sex">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">I choose not to disclose</option>
              </select>
            </div>

            <div class="col-12 col-md-4"></div>

            <div class="col-12 col-md-4">
              <label for="date-of-birth">Date of Birth<span>*</span></label>
            </div>
            <div class="col-12 col-md-4 mb-3">
              <input
                type="date"
                class="form-control"
                id="date-of-birth"
                name="date-of-birth"
              />
            </div>

            <div class="col-12 col-md-4"></div>

            <div class="col-12 col-md-4">
              <label for="occupation">Occupation<span>*</span></label>
            </div>
            <div class="col-12 col-md-4 form-group">
              <input
                type="text"
                class="form-control"
                id="occupation"
                name="occupation"
              />
            </div>
            <div class="col-12 col-md-4"></div>
          </div>
        </div>

        <!-- Contact Address -->
        <div class="check-guest__title__contact">
          <h3>Contact Address</h3>
        </div>

        <div class="check-guest__contact container">
          <div class="row">
            <div class="col-12 col-md-4">
              <label for="phone">Phone<span>*</span></label>
            </div>
            <div class="col-12 col-md-4 mb-3 form-group">
              <input type="tel" class="form-control" id="phone" name="phone" />
            </div>
            <div class="col-12 col-md-4"></div>

            <div class="col-12 col-md-4">
              <label for="email">Email<span>*</span></label>
            </div>
            <div class="col-12 col-md-4 mb-3 form-group">
              <input type="text" class="form-control" id="email" name="email" />
            </div>

            <div class="col-12 col-md-4"></div>

            <div class="col-12 col-md-4">
              <label for="addressLine1">Address Line 1<span>*</span></label>
            </div>
            <div class="col-12 col-md-4 mb-3 form-group">
              <input
                type="text"
                class="form-control"
                id="addressLine1"
                name="addressLine1"
              />
            </div>
            <div class="col-12 col-md-4"></div>

            <div class="col-12 col-md-4">
              <label for="addressLine2">Address Line 2<span>*</span></label>
            </div>
            <div class="col-12 col-md-4 mb-3 form-group">
              <input
                type="text"
                class="form-control"
                id="addressLine2"
                name="addressLine2"
              />
            </div>
            <div class="col-12 col-md-4"></div>

            <div class="col-12 col-md-4">
              <label for="city">City<span>*</span></label>
            </div>
            <div class="col-12 col-md-4 mb-3 form-group">
              <input type="text" class="form-control" id="city" name="city" />
            </div>
            <div class="col-12 col-md-4"></div>

            <div class="col-12 col-md-4">
              <label for="state">State<span>*</span></label>
            </div>
            <div class="col-12 col-md-4 mb-3">
              <select class="form-control" name="state" id="state">
                <option value="Male">Abia</option>
                <option value="Male">Anambra</option>
              </select>
            </div>

            <div class="col-12 col-md-4"></div>
          </div>
        </div>

        <!-- Booking Details -->
        <div class="check-guest__title__contact">
          <h3>Booking Details</h3>
        </div>

        <div class="check-guest__contact container">
          <div class="row">
            <div class="col-12 col-md-4">
              <label for="arrivalTime">Arrival Time:<span>*</span></label>
            </div>
            <div class="col-12 col-md-4 mb-3 form-group">
              <select class="form-control" name="arrivalTime" id="arrivalTime">
                <option value="Mr">12pm</option>
                <option value="Mrs">12am</option>
              </select>
            </div>
            <div class="col-12 col-md-4"></div>

            <div class="col-12 col-md-4">
              <label for="purpose">Purpose<span>*</span></label>
            </div>
            <div class="col-12 col-md-4 mb-3 form-group">
              <select class="form-control" name="sex" id="sex">
                <option value="Male">Business</option>
                <option value="Female">Pleasure</option>
              </select>
            </div>

            <div class="col-12 col-md-4"></div>

            <div class="col-12 col-md-4">
              <label for="requirements"
                >Additional Requirements:<span>*</span></label
              >
            </div>
            <div class="col-12 col-md-4 mb-3 form-group">
              <textarea name="requirements" id=""></textarea>
            </div>
            <div class="col-12 col-md-4"></div>
          </div>
        </div>

        <!-- Human Verification -->
        <div class="check-guest__title__contact">
          <h3>Human Verification</h3>
        </div>

        <div class="check-guest__contact container">
          <div class="row">
            <div class="col-12 col-md-4">
              <label for="captcha">Captcha:<span>*</span></label>
            </div>
            <div class="col-12 col-md-4 mb-3 form-group">
              <div class="g-recaptcha" data-sitekey="your-site-key"></div>
            </div>
            <div class="col-12 col-md-4"></div>
          </div>
        </div>

        <div class="check-guest__title__contact">
          <h3>Terms and Conditions</h3>
        </div>

        <div class="check-guest__contact container">
          <div class="col-12 col-md-4">
            <label for="captcha">Terms<span>*</span></label>
          </div>
          <div class="d-flex justify-start align-start">
            <input type="checkbox" id="terms" name="terms" class="checkbox-size" />
            <label for="terms">
              I agree to the <a href="#">Terms and Conditions</a> and the
              <a href="#">Privacy Policy</a>.
            </label>
          </div>
          
        </div>

        <div class="button-container">
          <a href="/view/booking-preview.html" class="button button-contact"
            >Continue</a
          >
        </div>
      </div>
    </section>

    <!-- Footer Section -->
    <div id="footer"></div>

    <!-- Scripts -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="/wwwroot/js/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="/wwwroot/js/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/wwwroot/js/custom/main.js"></script>
  </body>
</html>
