<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title id="hotel-name"></title>

     
          <!-- Favicon -->
    <link rel="icon" href="/wwwroot/images/favicon.png" type="image/png" />

    <!-- FontAwesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Stylesheets -->
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/bootstrap/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/fontawesome/css/all.min.css"
    />
    <!-- <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/fontawesome/css/font-awesome.min.css"
    /> -->
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/themify-icons/themify-icons.css"
    />
    <link rel="stylesheet" href="/wwwroot/js/vendors/linericon/style.css" />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/magnefic-popup/magnific-popup.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/nice-select/nice-select.css"
    />
    <link rel="stylesheet" href="/wwwroot/css/vendor/footer.css" />
    <link rel="stylesheet" href="/wwwroot/css/vendor/check-guest.css" />
    <link rel="stylesheet" href="/wwwroot/css/vendor/bookings.css" />

    <link rel="stylesheet" href="/wwwroot/css/custom/style.css" />
  </head>

  
  <body>
    <!-- Header Section -->
    <div id="header"></div>

    <!-- Banner Section -->
    <section class="contact-banner-area" id="contact">
      <div class="container h-100">
        <div class="contact-banner text-center">
          <h1>Payment Successful</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/index.html">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Payment Success
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </section>

    <!-- Success Message Section -->
    <section class="section-margin section-margin--small">

        <div class="section-intro text-center pb-80px">
            <div class="section-intro__style">
              <i class="fas fa-check-circle custom-icon" style=" width: 70px;
              height: 70px;
              color: green;
              font-size: 70px;"></i>
            </div>
            <h2>Booking Confirmation</h2>
          </div>



      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="payment-success-container">
              <div class="payment-success-message">
                <h5>Thank You for Your Booking!</h5>
                <p>Your payment was successful, and your reservation is confirmed. Below are your booking details:</p>

                <!-- Booking Details Summary -->
                <div class="booking-summary">
                  <h5>Booking Details</h5>

               
                  <div class="detail"><p>Booking Ref:</p><span id="booking-reference"></span></div>


                  <div class="detail"><p>Guest Name:</p><span id="guest-success-name"></span></div>
                 
                  <div class="detail"><p>Duration:</p><span id="duration"></span></div>
                <div class="detail"><p>Room Type:</p><span id="room-type"></span></div>
                  <div class="detail"><p>Number of Rooms:</p><span id="num-rooms"></span></div>

                  <div id="transaction" class="detail">
                    <p>Transaction Ref</p><span id="transaction-ref"></span></div>



                  <div class="detail">
                    <p>Arrival Time:</p><span id="arrival-time"></span></div>


                  <div class="detail">
                    <p>Total Payment:</p> <span id="total-amount"></span></div> 
                    
                    
                </div>

                <!-- Confirmation Message -->
                <div class="confirmation-message">
                  <p>We look forward to welcoming you to <a id="hotel-title" href="/index.html"></a>. If you need further assistance, feel free to contact us at any time.</p>
                </div>

                <!-- Action Button -->
                <div class="button-container">
                  <a id="continue-booking" href="/view/bookings.html" class="button-form">
                    Continue Booking
                  </a>
                  <a href="/index.html" class="button button-success">Back to Home</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer Section -->
    <div id="footer"></div>

    <!-- Scripts -->
    <script src="/wwwroot/js/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="/wwwroot/js/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/wwwroot/js/custom/main.js"></script>
    <script src="/wwwroot/js/custom/payment-success.js"></script>
  </body>
</html>
