<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
     
          <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title id="hotel-name"></title>
    <link rel="icon" href="/wwwroot/images/favicon.png" type="image/png" />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/bootstrap/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/fontawesome/css/all.min.css"
    />
 
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/themify-icons/themify-icons.css"
    />
    <link rel="stylesheet" href="/wwwroot/js/vendors/linericon/style.css" />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/magnefic-popup/magnific-popup.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/nice-select/nice-select.css"
    />
    <link rel="stylesheet" href="/wwwroot/css/vendor/footer.css" />
    <link rel="stylesheet" href="/wwwroot/css/custom/style.css" />
  </head>
  <body>
    <!-- ================ header section start ================= -->
    <div id="header"></div>
    <!-- ================ header section end ================= -->

    <!-- ================ start banner area ================= -->
    <section class="contact-banner-area" id="contact">
      <div class="container h-100">
        <div class="contact-banner">
          <div class="text-center">
            <h1 >Rooms</h1>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Rooms
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ end banner area ================= -->

    <!-- ================ start banner form ================= -->
    <div id="availability"></div>
    <!-- ================ end banner form ================= -->

    <!-- ================ Explore section start ================= -->
    <section class="section-margin section-margin--small">
      <div class="container">
        <div class="section-intro text-center pb-80px">
          <div class="section-intro__style">
               <svg xmlns="http://www.w3.org/2000/svg" height="70px" viewBox="0 -960 960 960" width="70px" class="icon">
                <path d="M190.77-240h-21.54L154-320h-34v-135.62q0-26.84 18.88-45.61Q157.77-520 184.62-520H200v-95.39q0-26.84 18.88-45.73Q237.77-680 264.62-680h430.76q26.85 0 45.74 18.88Q760-642.23 760-615.39V-520h15.38q26.85 0 45.74 18.88Q840-482.23 840-455.38V-320h-34l-15.23 80h-21.54L754-320H206l-15.23 80ZM500-520h220v-95.39q0-10.76-6.92-17.69-6.93-6.92-17.7-6.92H500v120Zm-260 0h220v-120H264.62q-10.77 0-17.7 6.92-6.92 6.93-6.92 17.69V-520Zm-80 160h640v-95.38q0-10.77-6.92-17.7-6.93-6.92-17.7-6.92H184.62q-10.77 0-17.7 6.92-6.92 6.93-6.92 17.7V-360Zm640 0H160h640Z" fill="currentColor"/>
              </svg>
          </div>
          <h2>Explore Our Rooms</h2>
        </div>
        
        <div id="room-container" class="row pb-4">
         
        </div>

        </div>
      </div>
      </div>
    </section>
    <!-- ================ Explore section end ================= -->

    <!-- ================ start footer Area ================= -->
    <div id="footer"></div>
    <!-- ================ End footer Area ================= -->

    <script src="/wwwroot/js/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="/wwwroot/js/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/wwwroot/js/vendors/magnefic-popup/jquery.magnific-popup.min.js"></script>
    <script src="/wwwroot/js/vendors/easing.min.js"></script>
    <script src="/wwwroot/js/vendors/superfish.min.js"></script>
    <script src="/wwwroot/js/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="/wwwroot/js/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="/wwwroot/js/vendors/mail-script.js"></script>
    <script src="/wwwroot/js/vendors/jquery.form.js"></script>
    <script src="/wwwroot/js/vendors/jquery.validate.min.js"></script>
    <script src="/wwwroot/js/custom/rooms.js"></script>
    <script src="/wwwroot/js/custom/main.js"></script>
  </body>
</html>
