<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>Seaplace Hotel - Contact</title>
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/bootstrap/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/fontawesome/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/fontawesome/css/font-awesome.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/themify-icons/themify-icons.css"
    />
    <link rel="stylesheet" href="/wwwroot/js/vendors/linericon/style.css" />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/magnefic-popup/magnific-popup.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/nice-select/nice-select.css"
    />

    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/elegant-icons/elegant-icons.css"
    />
    <link rel="stylesheet" href="/wwwroot/css/vendor/room-details.css" />
    <link rel="stylesheet" href="/wwwroot/css/vendor/footer.css" />
    <link rel="stylesheet" href="/wwwroot/css/custom/style.css" />
  </head>
  <body>
    <!-- ================ header section start ================= -->
    <div id="header"></div>
    <!-- ================ header section end ================= -->

    <!-- ================ start banner area ================= -->
    <section class="contact-banner-area" id="contact">
      <div class="container h-100">
        <div class="contact-banner">
          <div class="text-center">
            <h1>Rooms</h1>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Rooms
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Room Details Section Begin -->
    <section class="room-details-section spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="room-details-item">
              <img src="/wwwroot/images/rooms/room-details.jpg" alt="" />
              <div class="rd-text">
                <div class="rd-title">
                  <h3>Premium King Room</h3>

                  <div class="content">
                    <div class="star-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <button href="/view/bookings.html" class="button  button-contact">Booking Now
                    </button>
                  </div>
                </div>
                <h2>159$<span>/Pernight</span></h2>
                <table>
                  <tbody>
                    <tr>
                      <td class="r-o">Size:</td>
                      <td>30 ft</td>
                    </tr>
                    <tr>
                      <td class="r-o">Capacity:</td>
                      <td>Max persion 5</td>
                    </tr>
                    <tr>
                      <td class="r-o">Bed:</td>
                      <td>King Beds</td>
                    </tr>
                    <tr>
                      <td class="r-o">Services:</td>
                      <td>Wifi, Television, Bathroom,...</td>
                    </tr>
                  </tbody>
                </table>
                <p class="f-para">
                  Motorhome or Trailer that is the question for you. Here are
                  some of the advantages and disadvantages of both, so you will
                  be confident when purchasing an RV. When comparing Rvs, a
                  motorhome or a travel trailer, should you buy a motorhome or
                  fifth wheeler? The advantages and disadvantages of both are
                  studied so that you can make your choice wisely when
                  purchasing an RV. Possessing a motorhome or fifth wheel is an
                  achievement of a lifetime. It can be similar to sojourning
                  with your residence as you search the various sites of our
                  great land, America.
                </p>
                <p>
                  The two commonly known recreational vehicle classes are the
                  motorized and towable. Towable rvs are the travel trailers and
                  the fifth wheel. The rv travel trailer or fifth wheel has the
                  attraction of getting towed by a pickup or a car, thus giving
                  the adaptability of possessing transportation for you when you
                  are parked at your campsite.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="room-booking">
              <h3>Your Reservation</h3>
              <form action="#">
                <div class="check-date">
                  <label for="date-in">Check In:</label>
                  <input type="text" class="date-input" id="date-in" />
                  <i class="icon_calendar"></i>
                </div>
                <div class="check-date">
                  <label for="date-out">Check Out:</label>
                  <input type="text" class="date-input" id="date-out" />
                  <i class="icon_calendar"></i>
                </div>
                <div class="select-option">
                  <label for="guest">Guests:</label>
                  <select id="guest">
                    <option value="">3 Adults</option>
                  </select>
                </div>
                <div class="select-option">
                  <label for="room">Room:</label>
                  <select id="room">
                    <option value="">1 Room</option>
                  </select>
                </div>
                <button class="button button-form" type="submit">Check Availability</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Room Details Section End -->

    <!-- ================ start footer Area ================= -->
    <div id="footer"></div>
    <!-- ================ End footer Area ================= -->

    <script src="/wwwroot/js/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="/wwwroot/js/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/wwwroot/js/vendors/magnefic-popup/jquery.magnific-popup.min.js"></script>
    <script src="/wwwroot/js/vendors/easing.min.js"></script>
    <script src="/wwwroot/js/vendors/superfish.min.js"></script>
    <script src="/wwwroot/js/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="/wwwroot/js/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="/wwwroot/js/vendors/mail-script.js"></script>
    <script src="/wwwroot/js/vendors/jquery.form.js"></script>
    <script src="/wwwroot/js/vendors/jquery.validate.min.js"></script>
    <script src="/wwwroot/js/custom/rooms.js"></script>
    <script src="/wwwroot/js/custom/main.js"></script>
  </body>
</html>
