<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Seaplace Hotel - Contact</title>
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/bootstrap/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/fontawesome/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/fontawesome/css/font-awesome.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/themify-icons/themify-icons.css"
    />
    <link rel="stylesheet" href="/wwwroot/js/vendors/linericon/style.css" />
    <link
      rel="stylesheet"
      href="/wwwroot/js/vendors/magnefic-popup/magnific-popup.css"
    />

    <link rel="stylesheet" href="/wwwroot/css/vendor/footer.css" />
    <link rel="stylesheet" href="/wwwroot/css/vendor/check-guest.css" />
    <link rel="stylesheet" href="/wwwroot/css/custom/style.css" />
  </head>
  <body>
    <!-- Header Section -->
    <div id="header"></div>

    <!-- Banner Section -->
    <section class="contact-banner-area" id="contact">
      <div class="container h-100">
        <div class="contact-banner text-center">
          <h1>Terms of Use</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/index.html">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Terms of Use
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </section>

    <!-- Terms of Use Section -->
    <section class="section-margin section-margin--small">
      <div>
        <div class="modal-content-page">
  
          <div class="modal-head">
            <h4>Terms of Use</h4>
          </div>
      
          
          <div id="terms-text" class="modal-body">
          </div>
  
        </div>
      </div>
    </section>
    <div id="footer"></div>

    <!-- Scripts -->
    <script src="/wwwroot/js/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="/wwwroot/js/vendors/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- <script src="/wwwroot/js/custom/about.js"></script> -->
    <script src="/wwwroot/js/custom/term-of-use.js"></script>
    <script src="/wwwroot/js/custom/main.js"></script>
  </body>
</html>
